[run]
branch = True
concurrency = multiprocessing
parallel = true
sigterm = true
source = .
omit =
    __init__.py
    ../__init__.py
    ../scripts/__init__.py
    ../OrthoImageItem.py
    ../wiener2.py
    ../tidepoolTemplate.py
    ../tidepoolTemplate_alt.py

[report]
exclude_lines = 
    # Don't complain if non-runnable code isn't run:
    if displayplots:
    if args.displayplots:
    if debug:
    if False:
    if __name__ == .__main__.:

