[run]
branch = True
concurrency = multiprocessing
parallel = true
sigterm = true
source = .
omit =
    __init__.py
    ../__init__.py
    ../scripts/__init__.py
    ../OrthoImageItem.py
    ../wiener2.py
    ../tidepoolTemplate.py
    ../tidepoolTemplate_qt6.py
    ../tidepoolTemplate_alt.py
    ../tidepoolTemplate_alt_qt6.py
    ../tidepoolTemplate_big.py
    ../tidepoolTemplate_big_qt6.py
    ../notreadyforprimetime/*

[report]
exclude_lines = 
    # Don't complain if non-runnable code isn't run:
    if displayplots:
    if doplot:
    if args.displayplots:
    if debug:
    if self.debug:
    if False:
    if __name__ == .__main__.:
    except np.lib.RankWarning:
    except IndexError:
