recursive-include rapidtide *.py
recursive-include rapidtide/scripts *
recursive-include rapidtide/tests/tmp *
recursive-include rapidtide/workflows.py *
recursive-include rapidtide/data/reference ASPECTS*
recursive-include rapidtide/data/reference ATT*
recursive-include rapidtide/data/reference HCP1200*
recursive-include rapidtide/data/reference MNI152*
recursive-include rapidtide/data/models *
recursive-include rapidtide/data/examples/src \
    sub-RAPIDTIDETEST* \
    sub-NIRSRAPIDTIDETEST* \
    sub-HAPPYTEST* \
    timecourse1.txt \
    timecourse2.txt \
    tmask*txt \
    lt_rt.txt 
include versioneer.py
include rapidtide/_version.py
