include cloud/*
include VERSION
exclude rapidtide/data/examples
exclude rapidtide/workflows/phaseproject.py
include *.md *.rst 
include rapidtide/*.py
include rapidtide/*.ui
include rapidtide/scripts/*
include rapidtide/workflows/*.py
recursive-include rapidtide/data/reference/slicetimes *
recursive-include rapidtide/data/models *
include rapidtide/data/examples/src/test*
include rapidtide/data/examples/src/installtestdata
recursive-include rapidtide/tests *
include rapidtide/data/reference/JHU-ArterialTerritoriesNoVent-LVL*regions.txt
include rapidtide/data/reference/JHU-ArterialTerritoriesNoVent-LVL*.xml
include rapidtide/data/reference/JHU-ArterialTerritoriesNoVent-LVL*2mm.nii.gz
include rapidtide/data/reference/ASPECTS*
include rapidtide/data/reference/ATT*
include rapidtide/data/reference/HCP1200*
include rapidtide/data/reference/MNI152*
#include rapidtide/data/examples/src/sub-RAPIDTIDETEST*
#include rapidtide/data/examples/src/sub-NIRSRAPIDTIDETEST*
#include rapidtide/data/examples/src/sub-HAPPYTEST*
#include rapidtide/data/examples/src/timecourse1.txt
#include rapidtide/data/examples/src/timecourse2.txt
#include rapidtide/data/examples/src/tmask*txt
#include rapidtide/data/examples/src/lt_rt.txt 
#include rapidtide/data/examples/src/testfmri 
#include rapidtide/data/examples/src/testhappy
include versioneer.py
include rapidtide/_version.py
