numpy>=1.16,<1.17; python_version < '3.0'
numpy>=1.16; python_version >= '3.0'
scipy
pandas
scikit-image
scikit-learn<0.21; python_version == '2.7'
scikit-learn; python_version > '2.7'
nibabel
matplotlib
pyfftw
pyqtgraph
statsmodels
