# Python CircleCI 2.1 configuration file
#
# Check https://circleci.com/docs/2.1/language-python/ for more details
#
version: 2.1
orbs:
  codecov: codecov/codecov@3.2.4
jobs:

  build_py38:
    working_directory: /tmp/src/rapidtide
    docker:
      - image: continuumio/miniconda3
    resource_class: medium
    steps:
      - checkout
      - persist_to_workspace:
          root: /tmp
          paths:
              - src/rapidtide
      - restore_cache:  # ensure this step occurs *before* installing dependencies
          key: deps2-38-{{ checksum "setup.py" }}
      - run:  # will overwrite rapidtide installation each time
          name: Generate environment
          command:  |
            if [[ -e /opt/conda/envs/py38_env ]]; then
                echo "Restoring environment from cache"
                source activate py38_env
            else
                conda create -n py38_env python=3.8 -yq
                source activate py38_env
                pip install --upgrade "setuptools>=54"
                pip install --upgrade pip
                pip install --upgrade distlib
                pip install -e .[tests,doc]
            fi
            python setup.py install --user
      - save_cache:  # environment cache tied to requirements
          key: deps2-38-{{ checksum "setup.py" }}
          paths:
            - "/opt/conda/envs/py38_env"

  build_py39:
    working_directory: /tmp/src/rapidtide
    docker:
      - image: continuumio/miniconda3
    resource_class: medium
    steps:
      - checkout
      - persist_to_workspace:
          root: /tmp
          paths:
              - src/rapidtide
      - restore_cache:  # ensure this step occurs *before* installing dependencies
          key: deps2-39-{{ checksum "setup.py" }}
      - run:  # will overwrite rapidtide installation each time
          name: Generate environment
          command:  |
            if [[ -e /opt/conda/envs/py39_env ]]; then
                echo "Restoring environment from cache"
                source activate py39_env
            else
                conda create -n py39_env python=3.9 -yq
                source activate py39_env
                pip install --upgrade "setuptools>=54"
                pip install --upgrade pip
                pip install --upgrade distlib
                pip install -e .[tests,doc]
            fi
            python setup.py install --user
      - save_cache:  # environment cache tied to requirements
          key: deps2-39-{{ checksum "setup.py" }}
          paths:
            - "/opt/conda/envs/py39_env"

  build_py310:
    working_directory: /tmp/src/rapidtide
    docker:
      - image: continuumio/miniconda3
    resource_class: medium
    steps:
      - checkout
      - persist_to_workspace:
          root: /tmp
          paths:
              - src/rapidtide
      - restore_cache:  # ensure this step occurs *before* installing dependencies
          key: deps2-310-{{ checksum "setup.py" }}
      - run:  # will overwrite rapidtide installation each time
          name: Generate environment
          command:  |
            if [[ -e /opt/conda/envs/py310_env ]]; then
                echo "Restoring environment from cache"
                source activate py310_env
            else
                conda create -n py310_env python=3.10 -yq
                source activate py310_env
                pip install --upgrade "setuptools>=54"
                pip install --upgrade pip
                pip install --upgrade distlib
                pip install -e .[tests,doc]
            fi
            python setup.py install --user
      - save_cache:  # environment cache tied to requirements
          key: deps2-310-{{ checksum "setup.py" }}
          paths:
            - "/opt/conda/envs/py310_env"

  build_py311:
    working_directory: /tmp/src/rapidtide
    docker:
      - image: continuumio/miniconda3
    resource_class: medium
    steps:
      - checkout
      - persist_to_workspace:
          root: /tmp
          paths:
              - src/rapidtide
      - restore_cache:  # ensure this step occurs *before* installing dependencies
          key: deps2-311-{{ checksum "setup.py" }}
      - run:  # will overwrite rapidtide installation each time
          name: Generate environment
          command:  |
            if [[ -e /opt/conda/envs/py311_env ]]; then
                echo "Restoring environment from cache"
                source activate py311_env
            else
                conda create -n py311_env python=3.11 -yq
                source activate py311_env
                pip install --upgrade "setuptools>=54"
                pip install --upgrade pip
                pip install --upgrade distlib
                pip install -e .[tests,doc]
            fi
            python setup.py install --user
      - save_cache:  # environment cache tied to requirements
          key: deps2-311-{{ checksum "setup.py" }}
          paths:
            - "/opt/conda/envs/py311_env"

  build_py312:
    working_directory: /tmp/src/rapidtide
    docker:
      - image: continuumio/miniconda3
    resource_class: medium
    steps:
      - checkout
      - persist_to_workspace:
          root: /tmp
          paths:
              - src/rapidtide
      - restore_cache:  # ensure this step occurs *before* installing dependencies
          key: deps2-312-{{ checksum "setup.py" }}
      - run:  # will overwrite rapidtide installation each time
          name: Generate environment
          command:  |
            if [[ -e /opt/conda/envs/py312_env ]]; then
                echo "Restoring environment from cache"
                source activate py312_env
            else
                conda create -n py312_env python=3.12 -yq
                source activate py312_env
                pip install --upgrade "setuptools>=54"
                pip install --upgrade pip
                pip install --upgrade distlib
                pip install -e .[tests,doc]
            fi
            the next line doesn't work because pyfftw and tensorflow don't seem to be compatible
            python setup.py install --user
      - save_cache:  # environment cache tied to requirements
          key: deps2-312-{{ checksum "setup.py" }}
          paths:
            - "/opt/conda/envs/py312_env"


  test_py37:
    working_directory: /tmp/src/rapidtide
    docker:
      - image: continuumio/miniconda3
    parallelism: 4
    resource_class: large
    steps:
      - checkout
      - attach_workspace:  # get rapidtide
          at: /tmp
      - restore_cache:  # load environment
          key: deps2-37-{{ checksum "setup.py" }}
      - run:
          name: Run tests
          command:  |
            apt-get update
            apt-get install -yqq curl gpg 
            source activate py37_env
            pwd
            pushd rapidtide/data/examples/src
            ./installtestdata
            popd
            cp -f .circleci/resources/pytest_build_config.ini pytest.ini
            shopt -s globstar
            TESTFILES=$(circleci tests glob rapidtide/tests/test*.py | circleci tests split --split-by=timings)
            mkdir -p test-results
            shopt -u globstar
            pytest \
                $TESTFILES \
                -W ignore \
                --ignore=rapidtide/candidatetests \
                --junitxml=test-results/junit.xml
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results


  test_py37_with_coverage:
    working_directory: /tmp/src/rapidtide
    docker:
      - image: continuumio/miniconda3
    #parallelism: 4
    resource_class: large
    steps:
      - checkout
      - attach_workspace:  # get rapidtide
          at: /tmp
      - restore_cache:  # load environment
          key: deps2-37-{{ checksum "setup.py" }}
      - run:
          name: Coverage
          file: /tmp/src/rapidtide/coverage.xml
          command:  |
            apt-get update
            apt-get install -yqq curl gpg 
            source activate py37_env
            pwd
            pushd rapidtide/data/examples/src
            ./installtestdata
            popd
            cd rapidtide/tests
            mkdir test-results
            #COVERAGE_PROCESS_START=/tmp/src/rapidtide/rapidtide/tests/.coveragerc
            #PYTHONPATH=.:${PYTHONPATH}
            pytest \
                -W ignore \
                --ignore=/tmp/src/rapidtide/rapidtide/candidatetests \
                --cov-report xml:/tmp/src/rapidtide/coverage.xml \
                --cov=rapidtide \
                --cov-config=/tmp/src/rapidtide/rapidtide/tests/.coveragerc \
                --junitxml=/tmp/src/rapidtide/rapidtide/tests/test-results/junit.xml
      - codecov/upload:
          file: /tmp/src/rapidtide/coverage.xml
      - store_artifacts:
          path: /tmp/src/rapidtide/coverage.xml
          destination: artifact-file
      - store_test_results:
          path: /tmp/src/rapidtide/rapidtide/tests/test-results
      

  test_py38:
    working_directory: /tmp/src/rapidtide
    docker:
      - image: continuumio/miniconda3
    parallelism: 4
    resource_class: large
    steps:
      - checkout
      - attach_workspace:  # get rapidtide
          at: /tmp
      - restore_cache:  # load environment
          key: deps2-38-{{ checksum "setup.py" }}
      - run:
          name: Run tests
          command:  |
            apt-get update
            apt-get install -yqq curl gpg 
            source activate py38_env
            pwd
            pushd rapidtide/data/examples/src
            ./installtestdata
            popd
            cp -f .circleci/resources/pytest_build_config.ini pytest.ini
            shopt -s globstar
            TESTFILES=$(circleci tests glob rapidtide/tests/test*.py | circleci tests split --split-by=timings)
            mkdir -p test-results
            shopt -u globstar
            pytest \
                $TESTFILES \
                -W ignore \
                --ignore=rapidtide/candidatetests \
                --junitxml=test-results/junit.xml
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results


  test_py39:
    working_directory: /tmp/src/rapidtide
    docker:
      - image: continuumio/miniconda3
    parallelism: 4
    resource_class: large
    steps:
      - checkout
      - attach_workspace:  # get rapidtide
          at: /tmp
      - restore_cache:  # load environment
          key: deps2-39-{{ checksum "setup.py" }}
      - run:
          name: Run tests
          command:  |
            apt-get update
            apt-get install -yqq curl gpg 
            source activate py39_env
            pwd
            pushd rapidtide/data/examples/src
            ./installtestdata
            popd
            cp -f .circleci/resources/pytest_build_config.ini pytest.ini
            shopt -s globstar
            TESTFILES=$(circleci tests glob rapidtide/tests/test*.py | circleci tests split --split-by=timings)
            mkdir -p test-results
            shopt -u globstar
            pytest  \
                $TESTFILES \
                -W ignore \
                --ignore=rapidtide/candidatetests \
                --junitxml=test-results/junit.xml
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results

  # to convert back, remove any line with "parallelism" or "TESTFILES" in it
  test_py310:
    working_directory: /tmp/src/rapidtide
    docker:
      - image: continuumio/miniconda3
    parallelism: 4
    resource_class: large
    steps:
      - checkout
      - attach_workspace:  # get rapidtide
          at: /tmp
      - restore_cache:  # load environment
          key: deps2-310-{{ checksum "setup.py" }}
      - run:
          name: Run tests
          command:  |
            apt-get update
            apt-get install -yqq curl gpg 
            source activate py310_env
            pwd
            pushd rapidtide/data/examples/src
            ./installtestdata
            popd
            cp -f .circleci/resources/pytest_build_config.ini pytest.ini
            shopt -s globstar
            #TESTFILES=$(circleci tests glob tests/**/test*.py | circleci tests split --split-by=timings)
            TESTFILES=$(circleci tests glob rapidtide/tests/test*.py | circleci tests split --split-by=timings)
            mkdir -p test-results
            shopt -u globstar
            pytest  \
                $TESTFILES \
                --junitxml=test-results/junit.xml
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results


  test_py310_with_coverage:
    working_directory: /tmp/src/rapidtide
    docker:
      - image: continuumio/miniconda3
    #parallelism: 4
    resource_class: large
    steps:
      - checkout
      - attach_workspace:  # get rapidtide
          at: /tmp
      - restore_cache:  # load environment
          key: deps2-310-{{ checksum "setup.py" }}
      - run:
          name: Coverage
          file: /tmp/src/rapidtide/coverage.xml
          command:  |
            apt-get update
            apt-get install -yqq curl gpg 
            source activate py310_env
            pwd
            pushd rapidtide/data/examples/src
            ./installtestdata
            popd
            cd rapidtide/tests
            mkdir test-results
            pytest \
                -W ignore \
                --ignore=/tmp/src/rapidtide/rapidtide/candidatetests \
                --cov-report xml:/tmp/src/rapidtide/coverage.xml \
                --cov=rapidtide \
                --cov-config=/tmp/src/rapidtide/rapidtide/tests/.coveragerc \
                --junitxml=/tmp/src/rapidtide/rapidtide/tests/test-results/junit.xml
      - codecov/upload:
          file: /tmp/src/rapidtide/coverage.xml
      - store_artifacts:
          path: /tmp/src/rapidtide/coverage.xml
          destination: artifact-file
      - store_test_results:
          path: /tmp/src/rapidtide/rapidtide/tests/test-results
      

  test_py311:
    working_directory: /tmp/src/rapidtide
    docker:
      - image: continuumio/miniconda3
    parallelism: 4
    resource_class: large
    steps:
      - checkout
      - attach_workspace:  # get rapidtide
          at: /tmp
      - restore_cache:  # load environment
          key: deps2-311-{{ checksum "setup.py" }}
      - run:
          name: Run tests
          command:  |
            apt-get update
            apt-get install -yqq curl gpg 
            source activate py311_env
            pwd
            pushd rapidtide/data/examples/src
            ./installtestdata
            popd
            cp -f .circleci/resources/pytest_build_config.ini pytest.ini
            shopt -s globstar
            TESTFILES=$(circleci tests glob rapidtide/tests/test*.py | circleci tests split --split-by=timings)
            mkdir -p test-results
            shopt -u globstar
            pytest \
                $TESTFILES \
                -W ignore \
                --ignore=rapidtide/candidatetests \
                --junitxml=test-results/junit.xml
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results


  test_py311_with_coverage:
    working_directory: /tmp/src/rapidtide
    docker:
      - image: continuumio/miniconda3
    #parallelism: 4
    resource_class: large
    steps:
      - checkout
      - attach_workspace:  # get rapidtide
          at: /tmp
      - restore_cache:  # load environment
          key: deps2-311-{{ checksum "setup.py" }}
      - run:
          name: Coverage
          file: /tmp/src/rapidtide/coverage.xml
          command:  |
            apt-get update
            apt-get install -yqq curl gpg 
            source activate py311_env
            pwd
            pushd rapidtide/data/examples/src
            ./installtestdata
            popd
            cd rapidtide/tests
            mkdir test-results
            pytest \
                -W ignore \
                --ignore=/tmp/src/rapidtide/rapidtide/candidatetests \
                --cov-report xml:/tmp/src/rapidtide/coverage.xml \
                --cov=rapidtide \
                --cov-config=/tmp/src/rapidtide/rapidtide/tests/.coveragerc \
                --junitxml=/tmp/src/rapidtide/rapidtide/tests/test-results/junit.xml
      - codecov/upload:
          file: /tmp/src/rapidtide/coverage.xml
      - store_artifacts:
          path: /tmp/src/rapidtide/coverage.xml
          destination: artifact-file
      - store_test_results:
          path: /tmp/src/rapidtide/rapidtide/tests/test-results
      

  test_py312:
    working_directory: /tmp/src/rapidtide
    docker:
      - image: continuumio/miniconda3
    parallelism: 4
    resource_class: large
    steps:
      - checkout
      - attach_workspace:  # get rapidtide
          at: /tmp
      - restore_cache:  # load environment
          key: deps2-312-{{ checksum "setup.py" }}
      - run:
          name: Run tests
          command:  |
            apt-get update
            apt-get install -yqq curl gpg 
            source activate py312_env
            pwd
            pushd rapidtide/data/examples/src
            ./installtestdata
            popd
            cp -f .circleci/resources/pytest_build_config.ini pytest.ini
            shopt -s globstar
            TESTFILES=$(circleci tests glob rapidtide/tests/test*.py | circleci tests split --split-by=timings)
            mkdir -p test-results
            shopt -u globstar
            pytest \
                $TESTFILES \
                -W ignore \
                --ignore=rapidtide/candidatetests \
                --junitxml=test-results/junit.xml
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results


  build_docs:
    working_directory: /tmp/src/rapidtide
    docker:
      - image: continuumio/miniconda3
    resource_class: small
    steps:
      - attach_workspace:  # get rapidtide
          at: /tmp
      - restore_cache:  # load environment
          key: deps2-311-{{ checksum "setup.py" }}
      - run:
          name: Build documentation
          command: |
            apt-get update
            apt-get install -yqq make
            source activate py311_env
            pip install -e .[doc]
            pip uninstall -y pyqtgraph
            pip install numpydoc
            #pip install pyqt5-sip
            make -C docs html
      - store_artifacts:
          path: /tmp/src/rapidtide/docs/_build/html

  style_check:
    working_directory: /tmp/src/rapidtide
    docker:
      - image: continuumio/miniconda3
    resource_class: small
    steps:
      - attach_workspace:  # get rapidtide
          at: /tmp
      - restore_cache:  # load environment
          key: deps2-311-{{ checksum "setup.py" }}
      - run:
          name: Linting
          command:  |
            source activate py311_env
            flake8 --ignore=E127,E203,E231,E501,E722,E114,E116,F401,W503,W504 /tmp/src/rapidtide/rapidtide
      - store_artifacts:
          path: /tmp/data/lint

workflows:
  version: 2.1
  run_tests:
    jobs:
      - build_py38
      - test_py38:
          requires:
            - build_py38
      - build_py39
      - test_py39:
          requires:
            - build_py39
      - build_py310
      - test_py310:
          requires:
            - build_py310
      - build_py311
      - test_py311_with_coverage:
          requires:
            - build_py311
      - build_docs:
          requires:
            - build_py311
      # Can't use python 3.12 because there are no valid versions of pyfftw or tensorflow (1/12/24)
      #- build_py312
      #- test_py312:
      #    requires:
      #      - build_py312
      #- style_check:
      #    requires:
      #      - build_py311
