name: Upload latest to DockerHub

on:
  workflow_dispatch:
  push:
    branches: [ main, dev ]

jobs:
  docker:

    runs-on: ubuntu-latest

    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v1
        with:
          versionSpec: '5.x'

      - name: Install Checkout
        uses: actions/checkout@v4.1.2
        with:
          ref: ${{ github.head_ref }}   # checkout the correct branch name
          fetch-depth: 0

      - name: Determine Version
        id:   gitversion # id to later be referenced
        uses: gittools/actions/gitversion/execute@v1
        with:
          additionalArguments: /config commit-date-format="yyyy-MM-ddTHH:mm:ss-0000"

      - name: Alternate Git Version
        id: alternategitversion
        uses: codacy/git-version@2.8.0
        with:
          release-branch: 'main'
          prefix: 'v'

      - name: Direct Git Version
        id: directgitversion
        run: |
          GITDIRECTVERSION=`git describe --tags --dirty`
          echo "GITDIRECTVERSION=${GITDIRECTVERSION}" >> $GITHUB_ENV

      - name: Display GitVersion outputs (step output)
        run: |
          GITSHA=${{ steps.gitversion.outputs.Sha }}
          GITSHA8=${GITSHA:0:8}
          GITCOMMITS=${{ steps.gitversion.outputs.CommitsSinceVersionSource }}
          GITPREVVERSION=${{ steps.alternategitversion.outputs.previous-version }}
          GITVERSION=${GITPREVVERSION}+${GITCOMMITS}.g${GITSHA8}
          GITTIME=`git show | grep Date | head -n 1 | awk '{print $5 $7}'`
          GITDATE=${{ steps.gitversion.outputs.commitDate }}"T"${GITTIME}
          echo "GITVERSION=${GITVERSION}" >> $GITHUB_ENV
          echo "GITSHA=${GITSHA}" >> $GITHUB_ENV
          echo "GITDATE=${GITDATE}" >> $GITHUB_ENV
          BUILD_TIME=$(date -Iseconds)
          echo "BUILD_TIME=${BUILD_TIME}" >> $GITHUB_ENV

      - name: What
        run: echo "BRANCH=${GITHUB_REF##*/}" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: fredericklab/rapidtide

      - name: Free disk space
        run: | 
          df -h
          sudo rm -rf ${GITHUB_WORKSPACE}/.git
          sudo swapoff -a
          sudo rm -f /swapfile
          sudo apt clean
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
          df -h

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v5
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          sbom: false
          provenance: false
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: fredericklab/rapidtide:latest
          build-args: |
            BRANCH=${{ env.BRANCH }}
            GITVERSION=${{ env.GITVERSION }}
            GITSHA=${{ env.GITSHA }}
            GITDATE=${{ env.GITDATE }}
            BUILD_TIME=${{ env.BUILD_TIME }}
